.properties {
    border-left: 2px solid palevioletred;
    width: 110px;
    height: 220px;
    background-color: rgb(229, 235, 240);
    position: absolute;
    top: 60px; /* Adjust this based on where you want the menu */
    left: 40%;
    border-radius: 10px; /* Rounded corners to resemble a message bubble */

  }
  
  .properties::before {
    content: "";
    position: absolute;
    top: -8px; /* Adjust to align with the top */
    right: 105px; /* Center it horizontally */
    transform: translateX(50%);
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    border-color: blueviolet  palevioletred  transparent  black;
   
  }
  
 
  
  li {
    border-bottom: 0.7px solid palevioletred;
   background-color: rgb(235, 223, 233);
    text-align: center;
  }
  
  button{
    border-radius: 10px;
    width: 40px;
    
  }
